@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 22px;
  overflow-x: hidden;
}
input,button,textarea{ font-family: 'PT Sans', sans-serif;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
a {
  color: #ededed;
}
/*--------------------*/
html {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content_wrapper{

}
header{
  background-color: #dcdcdc;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 65px 0;
  height: 230px;
  flex: 0 0 auto;
}
.header_content{
  width: 980px;
  padding: 0 10px;
}
.logo{
  width: 273px;
  height: 100px;
  float: left;
}
.header_phone{
  margin-left: 723px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: right;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 81px;
  width: 256px;
}
.menu{
  width: 100%;
  background: #777777;
  opacity: 1.0;
  display: flex;
  justify-content: center;
  height: 80px;
  z-index: 100;
  position: relative;
  flex: 0 0 auto;
}
.menu_ul{
  padding: 26px 0;
  width: 902px;
}
.menu_li{
  padding: 0 15px;
  border-right: solid;
  font-size: 30px;
  border-color: #ededed;
  display: inline-block;
  white-space: nowrap;
}
.menu_li:last-child{
  padding-right: 0;
  border-right: none;
}
.menu_li:first-child{
  padding-left: 0;
}
.menu_a{
  color: #ededed;
}
.menu_a:hover{
  text-decoration: underline;
}
.slider_block{
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}
.slider{
  height:462px;
  width:1248px;
  margin-top: -60px;
  position: relative;
  z-index: 1;
}
.content_wrapper{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
.content{
  display: flex;
  justify-content: space-between;
}
.left_content{
  background: #777777;
  color: #ffffff;
  padding: 22px 52px 100px 33px;
  width: 350px;

}
.news_tittle{
  padding-bottom:38px;
  margin-left: 3px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.news_p{
  padding-bottom: 32px;
}
.news_archive{
  text-align: right;
  text-decoration: underline;
}
.right_content{
  padding-top: 20px;
  padding-left: 60px;
  width: 570px;
  color: #767676;
}
.right_p_header{
  font-size: 40px;
}
.right_p{
  padding-top: 30px;
  width: 569px;
}
.footer{
  width: 100%;
  height: 220px;
  background-color: #777777;
  margin-top: 195px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.footer_wrapper{
  padding: 50px 10px;
  color: #ffffff;
  float: left;
  width: 980px;
  display: flex;

}
.footer_left{
  margin-left: 0;
  width: 200px;
}
.footer_center{
  margin-left: 150px;
  width: 119px;
}

.foot_center_a{
  text-decoration: underline;
}
.foot_right_a{
  text-decoration: underline;
}
.footer_right{
  width: 170px;
  position: relative;
  float: right;
  margin-left: 330px;
}
.foot_right_a::before{
  content: url("../image/company.png");
  width: 36px;
  height: 38px;
  position: absolute;
  display: block;
  margin-left: -50px;
  top: 5px;
}
.clearfix {
  overflow: auto;
}
